#level {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 2vh;
    background-color: black;
    justify-content: center;
    align-items: center;
}

#level #canvasHolder {
    width: min(120vh, 96vw);
    aspect-ratio: 25 / 20;
    height: auto;
    justify-self: center;
    align-self: center;
}

#level #canvasHolder canvas {
    display: block;
    height: 100%;
    width: 100%;
    border: 0.2vw solid var(--primary-text-color);
    border-radius: 1vw;
}
