#levelSelect {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: url('../assets/UI Elements/bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#levelSelect #tableSelect {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#levelSelect #tableSelect h2 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 77px;
    color: #efe1ab;
    text-shadow: 4px 4px black;
}