#mainMenu {
    font-family: "Caveat Brush", cursive;
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url('../assets/UI Elements/bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#mainMenu #titleWrapper canvas {
    display: block;
    height: 100%;
}

#mainMenu #titleWrapper h1 {
    position: absolute;
    width: 100%;
    top: 43%;
    transform: translateY(-50%);
    text-align: center;
    font-size: 110px;
    color: #efe1ab;
    text-shadow: 4px 4px black;
}

#mainMenu #titleWrapper {
    position: absolute;
    left: 50%;
    top: 8%;
    transform-origin: top center;
    translate: -50% 0;
    scale: 1;
    will-change: scale;
    animation: titlePulse 2.6s ease-in-out infinite;
}

@keyframes titlePulse {
    0%, 100% {
        scale: 0.97;
    }
    50% {
        scale: 1.03;
    }
}

#mainMenu #buttonsWrapper {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 50%;
}

#mainMenu #buttonsWrapper .menuButtons {
    width: 172px;
    height: 94px;
    transform: scale(1.5);
    background: url('../assets/UI Elements/UI Elements/Buttons/SmallBlueSquareButton_Regular2.png') no-repeat;
    cursor: var(--cursor-pointer);
}

#mainMenu #buttonsWrapper .menuButtons.pressed {
    background: url('../assets/UI Elements/UI Elements/Buttons/SmallBlueSquareButton_Pressed2.png') no-repeat;
}

#mainMenu #buttonsWrapper .menuButtons h2 {
    display: block;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    color: #efe1ab;
    text-shadow: 2px 2px black;
    font-size: 40px;
}

#mainMenu #buttonsWrapper .menuButtons.pressed h2 {
    position: absolute;
    left: 50%;
    top: 53%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

#mainMenu #sideButtonsWrapper {
    position: absolute;
    left: 7vh;
    bottom: 7vh;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}

#mainMenu #sideButtonsWrapper .sideButtons {
    position: relative;
    height: 94px;
    width: 90px;
    background: url('../assets/UI Elements/UI Elements/Buttons/SmallBlueSquareButton_Regular.png') no-repeat;
    cursor: var(--cursor-pointer);
}

#mainMenu #sideButtonsWrapper .sideButtons img {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

#mainMenu #sideButtonsWrapper .sideButtons.pressed img {
    top: 53%;
}

#mainMenu #sideButtonsWrapper .sideButtons.pressed {
    background: url('../assets/UI Elements/UI Elements/Buttons/SmallBlueSquareButton_Pressed.png') no-repeat;
    pointer-events: none;
}

#mainMenu .centerOffscreen {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -100%);
    transition: transform ease 0.4s, top ease 0.4s;
    z-index: 1000;
}

#mainMenu .centerOffscreen.active {
    top: 50%;
    transform: translate(-50%, -50%);
}

#mainMenu .centerOffscreen.active.selected {
    top: 100%;
    transform: translate(-50%, 0);
}

#mainMenu .settingsX {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 64px;
    height: 64px;
    background-image: url("../assets/UI Elements/UI Elements/Icons/Icon_09.png");
    cursor: var(--cursor-pointer);
    z-index: 1001;
    scale: 1;
    transition: scale 0.1s ease;
}

#mainMenu .hoverResize1,
#mainMenu .hoverResize2 {
    scale: 1;
    transition: scale 0.1s ease;
}

#mainMenu .hoverResize1:hover {
    scale: 1.1;
}

#mainMenu .hoverResize2:hover,
#mainMenu .settingsX:hover {
    scale: 1.2;
}

#mainMenu #aboutWindow #aboutText {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#mainMenu #aboutWindow #aboutText h4 {
    display: block;
    width: fit-content;
    margin: 0 auto;
    text-shadow: 2px 2px black;
    color: var(--primary-text-color);
}

#mainMenu #aboutWindow #aboutText h3 {
    font-size: 3.2rem;
}

#mainMenu #aboutWindow #aboutText h4 {
    font-size: 2.8rem;
    margin-bottom: 10px;
}

#mainMenu #aboutWindow #aboutText .redBanner {
    position: relative;
    margin-bottom: 25px;
}

#mainMenu #settingsWindow h2,
#mainMenu #aboutWindow h2,
#mainMenu #settingsHolder h2 {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 4rem;
    letter-spacing: 10px;
    text-shadow: 4px 4px black;
    color: var(--primary-text-color);
}

#mainMenu #settingsWindow #settingsWrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 140px;
    left: 40px;
    right: 40px;
    bottom: 40px;
}

#mainMenu #settingsWindow #settingsWrapper .settingsOption {
    font-size: 2.5rem;
    position: relative;
    cursor: var(--cursor-pointer);
    height: 104px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

#mainMenu #settingsWindow #settingsWrapper .settingsOption h3,
#mainMenu #aboutWindow #aboutText h3 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px black;
    font-size: 2.8rem;
    color: var(--primary-text-color);
}

#mainMenu #settingsHolder #settingsAudio #audioWrapper {
    position: absolute;
    top: 57%;
    left: 10%;
    right: 10%;
    transform: translateY(-50%);
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 50px;
}

#mainMenu #settingsHolder #settingsAudio #audioWrapper .row #musicImage {
    background-image: url('../assets/UI Elements/UI Elements/Icons/Icon_12.png');
    height: 64px;
    width: 64px;
    cursor: var(--cursor-pointer);
}

#mainMenu #settingsHolder #settingsAudio #audioWrapper .row #musicImage.off {
    background-image: url('../assets/UI Elements/UI Elements/Icons/Icon_12X.png');
}

#mainMenu #settingsHolder #settingsAudio #audioWrapper .row #sfxImage {
    background-image: url('../assets/UI Elements/UI Elements/Icons/Icon_13.png');
    height: 64px;
    width: 64px;
    cursor: var(--cursor-pointer);
}

#mainMenu #settingsHolder #settingsAudio #audioWrapper .row #sfxImage.off {
    background-image: url('../assets/UI Elements/UI Elements/Icons/Icon_13X.png');
}

#mainMenu #settingsHolder #settingsAudio #audioWrapper .row {
    display: flex;
    flex-direction: row;
    gap: 60px;
    height: 64px;
}

#mainMenu #settingsHolder #settingsAudio #audioWrapper .row div {
    position: relative;
    z-index: 15;
}

#mainMenu #settingsHolder #settingsAudio #audioWrapper .row div .sliderHolder {
    position: absolute;
    left: 10px;
    right: 10px;
    top: 0;
    z-index: 20;
    overflow: hidden;
}


#mainMenu #freeMusic #musicImageHolder {
    position: absolute;
    right: 7vh;
    bottom: 7vh;
    background-image: url('../assets/UI Elements/UI Elements/Icons/Icon_12.png');
    height: 64px;
    width: 64px;
    cursor: var(--cursor-pointer);
}

#mainMenu #freeMusic #musicImageHolder.off {
    background-image: url('../assets/UI Elements/UI Elements/Icons/Icon_12X.png');
}