@font-face {
    font-family: Caveat Brush;
    src: url(../font/CaveatBrush-Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-text-color: #efe1ab;
    --cursor-default: url('../assets/UI Elements/UI Elements/Cursors/Cursor_01.png'), auto;
    --cursor-pointer: url('../assets/UI Elements/UI Elements/Cursors/Cursor_02.png'), pointer;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    user-select: none;
    cursor: var(--cursor-default);
    font-size: 16px;
    font-family: "Caveat Brush", cursive;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: var(--cursor-pointer);
}

#veil {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 1; /* Start with the veil fully visible to hide loading */
    background-color: rgba(0, 0, 0, 1);
    width: 100%;
    height: 100%;
    pointer-events: none;
    transition: opacity 0.4s ease;
    z-index: 9999999;
}

#veil.ready {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;
}

#veil.active {
    opacity: 1;
    pointer-events: all;
}

#veil.transition {
    background-color: rgba(0, 0, 0, 1);
    opacity: 1;
    pointer-events: all;
}
